{% extends 'Layouts/layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block content %}

        <!-- Section présentation personnelle -->

    <!-- <section id="about" class="row slide2 h100vh">
        <div class="col l8 offset-l2 valign-wrapper">
            <div class="card row opacity85">
                <div class="fs32 ubuntu">
                    <p>Loan PASIONEK</p>
                    <p>Développeur Web junior</p>
                </div>

                <div class="row">
                    <div class="container">
                        <img src="img/tasse_chill.png" alt="tasse" class="col offset-s2 offset-m2 s3 l3 m3 mtop20p">
                
                        <p class="fs20 ubuntu col l9 s10 m10 text-justify offset-s1">Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula,
                            a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna.
                            In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Proin bibendum ullamcorper rutrum.
                        </p>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="hoverable col l5 center-align">
                                <div class="">                    
                                    <div class="color1 fs32 ubuntu">
                                        <a href="mailto:l.pasionek@gmail.com"><i class="fas fa-at fa-2x color1 hoverable"></i></a> -                       
                                        <a href="https://github.com/loanpasionek/" target="_blank"><i class="fab fa-github fa-2x color1 hoverable"></i></a> - 
                                        <a href="https://www.linkedin.com/in/loan-pasionek/"><i class="fab fa-linkedin fa-2x color1 hoverable"></i></a> - 
                                        <a href=""><i class="fas fa-phone-square fa-2x color1 hoverable"></i></a> 
                                    </div>
                                </div>
                            </div> 
                        </div>     
                    </div>               
            </div>
        </div>
        
    </section> -->

        <!-- Section présentation des projets -->

    <section id="projets" class="row slide2 slide2-sm color2 h100vh bgOpacity95">
        <div class="container">
            <p class="fs20 nomargin">Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula,
            a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna.
            In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin bibendum ullamcorper rutrum.</p>
        
        


            <p class="fs20">Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula,
            a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna.
            In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin bibendum ullamcorper rutrum.</p>
        
        


            <p class="fs20">Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula,
            a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna.
            In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin bibendum ullamcorper rutrum.</p>
        
        


            <p class="fs20">Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula,
            a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna.
            In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin bibendum ullamcorper rutrum.</p>
        
        


            <p class="fs20">Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula,
            a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna.
            In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin bibendum ullamcorper rutrum.</p>
                
        </div>
    </section>
        
{% endblock %}
