{% extends 'Layouts/layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block content %}

<section id="about" class="mtop25 slide2 nomargin">
    <div class="container hoverable">
        <div class="card row">
            <div class="divider-color bgcolor2 col l12 container">
                    
                
                    <div class="row">
                        <p class="fs24 col l4 offset-l1">Une reconversion professionnelle à 33 ans ? Et pourquoi pas ? Après tout, c'est plus facile qu'à 60, et ça a plus de sens qu'à 20.
                                Les opportunités de ce type se font rares dans une vie, alors j'ai saisi celle-ci. Mon objectif à long terme, devenir formateur. 
                                A court terme... déjà apprendre à coder !
                        </p>
                        <img src="{{ asset('img/tasse_chill.png') }}" alt="tasse" class="col offset-l1 l4">

                        <!-- <div class="container">
                            <div class="row">
                                <a href="https://www.linkedin.com/in/loan-pasionek/"> <img src="img/linkedin-icon.png" alt="Linkedin"></a>
                                <a href="https://github.com/loanpasionek"> <img src="img/github_icon.png" alt="Github"></a>
                                <a href="mailto:l.pasionek@gmail.com"><img src="img/email.png" alt="Email"></a>
                            </div>
                        </div> -->
                </div>
                <div class="fs32 col offset-l1 sunflower">
                        <p class="color1">Loan PASIONEK</p>
                        <p class="color1">Développeur Web junior</p>
                        <p class="color1">Numéro : 06.50.41.40.02</p>         
                        <p class="color1">Github : https://github.com/loanpasionek</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="blabla" class="slide3 color2">
    <section class="container">

        <p class="fs20">Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula,
        a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna.
        In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Proin bibendum ullamcorper rutrum.</p>


    </section>


    <section class="container">

        <p class="fs20">Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula,
        a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna.
        In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Proin bibendum ullamcorper rutrum.</p>


    </section>

    <section class="container">

        <p class="fs20">Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula,
        a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna.
        In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Proin bibendum ullamcorper rutrum.</p>


    </section>



    <section class="container">

        <p class="fs20">Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula,
        a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna.
        In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Proin bibendum ullamcorper rutrum.</p>


    </section>

    <section class="container">

        <p class="fs20">Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula,
        a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna.
        In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Proin bibendum ullamcorper rutrum.</p>


    </section>



    <section class="container">

        <p class="fs20">Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula,
        a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui. Pellentesque sed sapien lorem, at lacinia urna.
        In hac habitasse platea dictumst. Vivamus vel justo in leo laoreet ullamcorper non vitae lorem. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Proin bibendum ullamcorper rutrum.</p>


    </section>
</div>

{% endblock %}