{% extends 'Layouts/layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block content %}

        
    <section id="interlude" class="bgcolor2 center fs32 exo2 h100vh flex card hoverable">
        <div class="mAuto">
            <p class="pding15p">Un café avant de commencer ?</p>


            . <br>
            . <br>
            . <br>
            <br>

            <img src="img/tasse_chill.png" alt="tasse" class="mleft40p">

        </div>


    </section>

        <!-- Section présentation des projets -->

    <section id="projets" class="row slide2 slide2-sm color3 h100minusNav h100minusNav-sm bgOpacity95">
        <div class="">
            <h1 class="center">Parce que ce sont mes projets</h1>
        </div>
        <div class="container">
            <div class="center card">
                Test
            </div>
        </div>
        
    </section>
        
{% endblock %}
