<header id="index" class="h100vh slide1 slide1-sm">
    <div id="containerNav" class="navbar-fixed row">
        <nav class="nocolor">
            <div class="nav-wrapper fs36 exo2">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger divider-color"><i id="buttonBurger" class="material-icons">dehaze</i></a>

                <ul id="nav-mobile" class="hide-on-med-and-down z-depth-0 right-align">
                    <div class="center-align">
                        <li><a href="#index" class="fs20 divider-color">Accueil</a></li>
                        <li><a href="#projets" class="fs20 divider-color">Projets</a></li>
                        <li><a href="#contact" class="fs20 divider-color">Personnel</a></li> 
                    </div>                
                </ul>
                <ul class="flex hide-on-large-only jcaround">
                        <li><a href="#index" class="center color3 fs20-sm">Accueil</a></li>
                        <li><a href="#projets" class="center color3 fs20-sm">Projets</a></li>
                        <li><a href="#contact" class="center color3 fs20-sm">Personnel</a></li> 
                </ul>


            </div>
        </nav>
    </div>

    <!-- Nav mobile -->
        <ul class="sidenav bgcolor6 h230p w165p" id="mobile-demo">
        
            <div class="w165p flex jccenter">
                <li><a href="https://github.com/loanpasionek/" target="_blank" ><i class="fab fa-github fs32-sm color3"></i></a></li>
                <li><a href="https://www.linkedin.com/in/loan-pasionek" target="_blank"><i class="fab fa-linkedin-in fs32-sm color3"></i></a></li>
                <li><a href="mailto:l.pasionek@gmail.com"><i class="fas fa-at fs32-sm color3"></i></a></li>
            </div>
        </ul>

    <article id="presentation" class="row exo2 fixed">
        <div class="h125p-sm bg_forest_sm">
            <h1 class="col rotated h1-sm color3 fs80 fs80-sm" id="title"><span class="color1 coloredChars">C</span>hill and <span class="color1 coloredChars2">C</span>ode</h1>
            <div class="col l5 offset-l6 color3 right-align text-justify-sm">
                <h2 id="indexName"><span class="color1 coloredChars1">L</span>oan <span class="color1 coloredChars1">P</span>ASIONEK</h2>
            </div>
        </div>
        <div class="col l5 offset-l6 ">
            <p class="fs24 fs24-sm color3 right-align text-justify-sm">
            <span class="fs32 fs32-sm">Développeur Web</span> <br>
            Loan aime le cinéma, les jeux de plateau, la glace à la menthe, John Connolly et Stephen King.
            Il n'aime pas parler de lui à la troisième personne.
            Il a découvert le développement Web lors d'un bilan de compétences, et décide d'en faire son métier. <br>
            Après une expérience enrichissante dans le tutorat, il envisage de devenir formateur dans quelques années. <br>
            Apprenant de l'Access Code School, année 2018.

            </p>
        </div>
        <ul class="hide-on-med-and-down col l2 offset-l9 flex jcaround">
                <li><a href="https://github.com/loanpasionek/" target="_blank" ><i class="fab faHover fa-github fs40 color3"></i></a></li>
                <li><a href="https://www.linkedin.com/in/loan-pasionek" target="_blank"><i class="fab faHover fa-linkedin-in fs40 color3"></i></a></li>
                <li><a href="mailto:l.pasionek@gmail.com"><i class="fas faHover fa-at fs40 color3"></i></a></li>
        </ul>
    </article>
    
</header>
