<header id="home" class="h100vh slide1 slide1-sm">
    <div class="navbar-fixed">
        <nav class="nav-nocolor">
            <div class="nav-wrapper fs36 titillium">
                <ul class="hide-on-med-and-down z-depth-0 right-align">
                    <div class="center-align">
                        <li><a href="#home" class="fs20 divider-color navText">Home</a></li>
                        <li><a href="#work" class="fs20 divider-color navText">Work</a></li>
                        <li><a href="#hobbies" class="fs20 divider-color navText">Hobbies</a></li>
                    </div> 
                    <li class="right-float mright20p">
                        <a href="#" class="fs20 divider-color navText">
                            <i class="material-icons">power_settings_new</i>
                        </a>
                    </li>                        
                </ul>

                <!-- Nav mobile -->
                <ul class="flex block-sm hide-on-large-only">
                    <li class="w33-sm"><a href="#home" class="center color3 fs20 fs20-sm navText">Home</a></li>
                    <li class="w33-sm"><a href="#work" class="center color3 fs20 fs20-sm navText">Work</a></li>
                    <li class="w33-sm"><a href="#hobbies" class="center color3 fs20 fs20-sm navText">Hobbies</a></li>
                </ul>
            </div>
        </nav>
    </div>

    

    <section id="presentation" class="row titillium fixed mtop45p mtop0-sm">
        <div class="h125p-sm bg_forest_sm titillium relative bg-forest-sm padd5p-sm">
            <h1 class="col rotated h1-sm color3 fs80 fs80-sm nomargin titleSection"><span class="color1 coloredChars">C</span>hill and <span class="color1 coloredChars">C</span>ode</h1>
            <div class="col l5 offset-l6 m5 offset-m5 color3 right-align text-justify-sm">
                <h2 class="fs40 fs40-sm"><span class="color1 coloredChars">L</span>oan <span class="color1 coloredChars">P</span>ASIONEK</h2>
                <span class="fs40 fs32-sm fs32-xs">Développeur Web Junior</span> <br>
            </div>
        </div>
        <div class="col l5 offset-l6 offset-m4 m6 fs24">
            <p class="fs24-mm fs24-sm fs24-xs color3 right-align text-justify-sm padd5p-sm w95-sm">
            Loan aime le cinéma, les jeux de plateau, la glace à la menthe, John Connolly et Stephen King.
            Il n'aime pas parler de lui à la troisième personne.
            Il a découvert le développement Web lors d'un bilan de compétences, et décide d'en faire son métier. <br>
            Après une expérience enrichissante dans le tutorat, il envisage de devenir formateur dans quelques années. <br>
            Apprenant de l'Access Code School, année 2018. <br>
            Bienvenue sur son portfolio !

            </p>
        </div>
        
    </section>
    
</header>
