<header id="index" class="h100vh col s12 slide1"> 
    <div id="nav" class="navbar-fixed">
    <nav class="nocolor">
        <div class="nav-wrapper center-align fs36 exo2">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger divider-color"><i id="buttonBurger" class="material-icons">dehaze</i></a>

            <ul id="nav-mobile" class="hide-on-med-and-down z-depth-0">
                <div class="center-align">
                    <li><a href="#index" class="fs24 divider-color">Index</a></li>
                    <li><a href="#about" class="fs24 divider-color">A propos</a></li>
                    <li><a href="#blabla" class="fs24 divider-color">Projets</a></li>
                    <li><a href="#contact" class="fs24 divider-color">Personnel</a></li> 
                </div>
            </ul>
        </div>
    </nav>
</div>
    <ul class="sidenav bgcolor2 h230p w165p" id="mobile-demo">
        <li><a href="#index" class="fs20">Index</a></li>
        <li><a href="#about" class="fs20">A propos</a></li>
        <li><a href="#blabla" class="fs20">Projets</a></li>
        <li><a href="#contact" class="fs20">Personnel</a></li> 
    </ul>
<div class="row">            
    <h1 class="col offset-l8 offset-s1 l4 s10 color3 fs60 fixed" id="title">Chill and Code</h1>
</div>
        
</header>