html{font-size:62.5%;}
/* body{overflow-x:hidden;} */



/* ----------------------- Polices ----------------------- */

            /* Familles */

            .sunflower{font-family: 'Sunflower', sans-serif;}
            .karma{font-family: 'Karma', serif;}
            .exo2{font-family:'Exo 2', sans-serif;}


            /* Tailles */

            .bold{font-weight:700;}
            .semi-bold{font-weight: 600;}
            .fs80{font-size:8rem;}
            .fs60{font-size:6rem;}
            .fs40{font-size:4rem;}
            .fs36{font-size:3.6rem;}
            .fs32{font-size:3.2rem;}
            .fs28{font-size:2.8rem;}
            .fs24{font-size:2.4rem;}
            .fs20{font-size:2rem;}
            .fs18{font-size:1.8rem;}
            .fs15{font-size:1.5rem;}



/* ----------------------- Couleurs ----------------------- */


            .color1{color: #E64A19 !important;} /* orange */
            .color2{color:#757575;} /* gris foncé */
            .color3{color:#E3E7E7;} /* gris */
            .color4{color:#2a2a2a !important;} /* noir */
            .color5{color:#14293E !important;} /* bleu */
            .color6{color:#f2f2f2;}
                    

            /* Backgrounds */

            .bgcolor1{background-color: #FF5722; } /* orange */
            .bgcolor2{background-color: #E3E7E7;} /* gris */
            .bgcolor3{background-color:#14293E;} /* bleu */
            .bgcolor4{background-color:#C94116;} /* orange foncé */
            .bgcolor5{background-color:#2a2a2a;} /* noir */
            .bgcolor6{background-color:#231202;} /* bg de la nav mobile */
            .bgcolor7{background-color:#f2f2f2;} /* blanc */
            .bgcolor8{background-color: #757575;}

            
            .divider-color{ border-color: #BDBDBD; }
            .nav-nocolor
            {
                background: none;
                transition: 0.5s linear;
            }

/* ----------------------- Heights ----------------------- */
            .maxH{height:calc(100vh - 55px);}
            .h100{height:100%;}
            .h100vh{height:100vh;}
            .h100minusNav{height:calc(100vh - 64px);}
            .h660p{height:660px;}
            .h500p{height:500px;}
            .h360p{height:360px;}
            .h350p{height:350px;}
            .h300p{height:300px;}
            .h275p{height:275px;}
            .h230p{height:230px;}


/* ----------------------- Widths ----------------------- */
            .w100{width:100%;}
            .w75{width:75%;}
            .w70{width:70%;}
            .w66{width:66%;}
            .w60{width:60%;}
            .w50{width:50%;}
            .w33{width:33%;}
            .w25{width:25%;}
            .w20{width:20%;}
            .w15{width:15%}
            .w300p{width:300px;}
            .w165p{width:165px;}

/* ----------------------- Margins & Paddings ----------------------- */
            
            .mtop75p{margin-top:75px;}
            .mtop45p{margin-top:45px;}
            .mtop30p{margin-top:30px;}
            .mtop20p{margin-top:20px;}
            .mtop15p{margin-top:15px;}
            .mtop2p{margin-top:2px;}

            .mbot30p{margin-bottom:30px;}
            .mbot20p{margin-bottom:20px;}

            .mleft40p{margin-left:40px;}
            .mleft2p{margin-left:2px;}

            

            .padd40p{padding:40px;}
            .padd20p{padding:20px;}
            
            .nomargin{margin: 0;}
            .nopadding{padding:0;}


/* ----------------------- Génériques ----------------------- */

            /* Display and justify */

            .flex{display: flex;}
            .block{display:block;}
            .iblock{display: inline-block;}
            .column{ flex-direction:column;}
            .jcbetween{justify-content: space-between;}
            .jcaround{justify-content: space-around;}
            .jccenter{justify-content: center;}
            .aicenter{align-items:center;}
            .txtcenter{text-align:center;}
            .txtmiddle{vertical-align:middle;}
            .hidden{visibility:hidden;}


            /* Positions */

            .absolute{position:absolute;}
            .fixed{position:fixed;}
            .relative{position: relative;}
                
            .valign
            {       
                position:absolute;
                top:50%;
                transform:translateY(-50%);
            }

            
            .textjustify{text-align:justify;}
            .center{margin:auto;}


/* ----------------------- Spécifiques ----------------------- */
            /* ------------ Mur d'images ------------ */
            

            #culture button
            {
            width: 115px;
            height: 30px;
            margin:14px;
            font-size:1.4rem;
            border-radius:2px;
            }
            #projets button
            {
                width: 190px;
                margin:14px;
                font-size:1.4rem;
                border-radius:2px;
                padding:5px;
            }

            .grid{min-height: 500px;}
    
            .grid-item, .grid-item-med, .grid-item-lg, .tooltip, .tooltiptext 
            {
                float: left;
                width:115px;
                margin-bottom: 0;
            }

            .grid-item, .grid-item-med, .grid-item-lg {display: block;}

            .grid-item {height: 53.75px;}

            .grid-item-med {height: 107.5px;}

            .grid-item-lg {height: 161.25px;}

            
            .imgCulture 
            {
                width: 100%;
                /* règle le problème de hover qui décale l'image d'1px*/
                -webkit-backface-visibility: hidden;
                -webkit-transform: translateZ(0) scale(1.0, 1.0);
            }


            /* --- Ecriture verticale --- */
            .rotated
            {
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                }

            /* .imgCarousel
            {
                width:260px !important;
                height:115px;
            } */

            /* --- Split page --- */

            .split 
            {
				height: 100%;
				width: 50%;
				z-index: 1;
				top: 0;
				overflow-x: hidden;
				padding-top: 20px;
			}
            
            .left{left: 0;}
            
            .right {right: 0;}

            .h2padd{padding:40px 0;}
            .hr-bold{border: 2px;}
            #computer{
                position: absolute;
                width: 400px;
                height: 400px;
            }
            
            .noborder{border:none;}

            nav ul a:focus::after{border-bottom: 1px solid blue;}

            
            button:hover{cursor: pointer;}
            button:active, button:focus
            {
                background-color:#f2f2f2;
                border: 1px solid #14293E;
                
            }
            
            button:active li, button:focus li{
                color:#14293E;
}

            #lienProjet:hover
            {
                transform: scale(1.1);
                transition: 0.2s all ease;
            }
            #lienProjet
            {
                border-radius: 2px;
                padding:5px;
                -webkit-backface-visibility: hidden;
                -webkit-transform: translateZ(0) scale(1.0, 1.0);
            }
          
        

            /* --- Tooltip sur le mur d'images --- */

            .tooltip 
            {
                position: relative;
                display: inline-block;
            }

            .tooltip .tooltiptext 
            {
                visibility: hidden;
                background-color:#FF5722;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                font-size:1.2rem;
                position: absolute;
                z-index: 1;
            }
            
            .tooltip:hover .tooltiptext 
            {
                visibility: visible;
                top:-28px;
                left:0;
            }
              

            .imgCulture:hover
            {
                    opacity:0.50;
                    transition:0.3s linear;

            }

            .row:last-child, .row {margin-bottom: 0;}


            nav{box-shadow: none;}
            .opacity95{opacity:0.95;}
            .opacity20
            {
                opacity:0.20;
                transition: 0.5s linear;
            }
            .opacity100
            {
                opacity: 1;
                transition: 0.5 linear;
            }
            

            a:hover{color:#FF5722 !important;}

            .faHover:hover{color:#FF5722 !important;}

/* ----------------------- Parallax ----------------------- */

            .slide1 
            {
                background: url('../img/bg_forest_bot_1200.jpg') center no-repeat fixed;
                opacity: 0.95;
            }
            
            /* .slide2{background-color:#14293E;} */

            .slide2
            {
                background: url('../img/bg_keyboard.jpg') center no-repeat fixed;
            }
            

/* ----------------------- Changement de nav selon position dans la page ----------------------- */

            .navChange
            {
                background-color:#E64A19;
                opacity:0.85;
                transition: 0.5s linear;
            }
            .navChange2{
                background-color:#14293E;
                opacity:0.85;
                transition: 0.5s linear;
            }


/* ----------------------- Media queries ----------------------- */


/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px){

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .fs20-mm{font-size:2rem;}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    

    .mbot30p-sm{margin-bottom:30px;}

    /* .bg_forest_sm{background:url('../img/bg_forest_sm.jpg') center fixed;}
    .bg_keyboard_sm{background:url('../img/bg_keyboard_1200.jpg') center fixed;} */

    /* Parallax : background uni en small */
    /* .slide1{background-image:none;}
    .slide2{background-image:none;}
    .slide1-sm {        
        background-color:#231202;
    }
    .slide2-sm {
        background-color:#273F5D;
    } */


    /* Fonts size en small, 20% moins grandes */
    .fs80-sm{font-size:6.4rem;}
    .fs60-sm{font-size:4.8rem;}
    .fs40-sm{font-size:3.2rem;}
    .fs36-sm{font-size:2.9rem;}
    .fs32-sm{font-size:2.6rem;}
    .fs24-sm{font-size:1.85rem;}
    .fs20-sm{font-size:1.6rem;}
    .fs18-sm{font-size:1.4rem;}
    .fs15-sm{font-size:1.2rem;}

    .sidenav li>a
    {
        font-size:1.8rem;
        padding:0 10px 0;
        margin: 10px 0;
        color:#E3E7E7;
    }
    .sidenav li>a>i
    {
        margin: -5px 0 10px;
        color:#E3E7E7;
    }



    .text-justify-sm{text-align: justify;}


    .titleSection
    {
        text-align:center;
        line-height:50px;
        font-size:4rem;
    }

    /* Heights, widths, margins, paddings */

    .w100-sm{width:100%;}
    .w75-sm{width:75%;}
    .w300p-sm{width:300px;}
    .h100-sm{height:100%;}
    .h125p-sm{height:125px;}
    .h100minusNav-sm{height:calc(100vh - 55px);}

    .padd40p-sm{padding:40px;}
    .mtop30p-sm{margin-top:30px;}
    .mtop0-sm{margin-top:0;}
    .center-sm{margin:auto;}
    .left8-sm{left:8%;}


    /* Mur d'images en small */
    
    .imgCulture{height:100%;}
    .grid-item, .grid-item-lg, .grid-item-med{width:33%;}
    .grid-item{height:43.5px;}
    .grid-item-med{height:87px;}
    .grid-item-lg{height:130.5px;}
    
    .flex-on-med-and-down{display:flex;}
    .block-on-med-and-down{display: block;}
    /* Annulation des classes appliquées au H1 en large-screen */
    .h1-sm, .h2-sm
    {
        display:block;
        margin:0;
        font-size:3.2rem;
        text-align: center;
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        }
}

        /* Iphone 4 & 5 */
@media screen and (max-width : 320px){

    .w250p-xs{width:250px;}
    .grid-item, .grid-item-lg, .grid-item-med{width:33%;}
}

