html{font-size:62.5%;}
body{overflow-x:hidden;}



/* ----------------------- Polices ----------------------- */

            /* Familles */
            .sunflower{font-family: 'Sunflower', sans-serif;}
            .karma{font-family: 'Karma', serif;}
            .exo2{font-family:'Exo 2', sans-serif;}


            /* Tailles */

            .bold{font-weight:700;}
            .fs60{font-size:6rem;}
            .fs40{font-size:4rem;}
            .fs36{font-size:3.6rem;}
            .fs32{font-size:3.2rem;}
            .fs24{font-size:2.4rem;}
            .fs20{font-size:2rem;}
            .fs18{font-size:1.8rem;}
            .fs15{font-size:1.5rem;}



/* ----------------------- Couleurs ----------------------- */


            .color1{color: #E64A19;} /* orange */
            .color2{color:#757575;}
            .color3{color:#FFFFFF;} /* blanc */
            

            /* Backgrounds */

            .bgcolor1{background-color: #FF5722; }
            .bgcolor2{background-color: #FFFFFF;}
            .bgcolor3{background-color:#3F51B5;}


            
            .divider-color{ border-color: #BDBDBD; }
            .nocolor{background: none;}

/* ----------------------- Heights ----------------------- */
            .h100vh{height:100vh;}
            .h660p{height:660px;}
            .h500p{height:500px;}
            .h360p{height:360px;}
            .h350p{height:350px;}
            .h300p{height:300px;}
            .h275p{height:275px;}
            .h230p{height:230px;}


/* ----------------------- Widths ----------------------- */

            .w300p{width:300px;}
            .w165p{width:165px;}

/* ----------------------- Margins ----------------------- */
            
            .mtop45p{margin-top:45px;}
            .mtop20p{margin-top:20px;}
            .nomargin{margin: 0;}


/* ----------------------- Génériques ----------------------- */

            .flex{display: flex;}
            .jccenter{justify-content: center;}
            .text-justify{text-align: justify;}
            .fixed{position:fixed;}


/* ----------------------- Spécifiques ----------------------- */
            .hoverable:hover{color:blue;}
            .nopargin{margin:0;
            padding:0;}



nav{
    box-shadow: none;    
  }

  #sectionProjets{background-color:#fff;
    opacity:0.95;}

.sidenav li > a.color4, .color4{color:#212121;} /* noir */

/* ----------------------- Parallax ----------------------- */

.slide1 {
    background: url('../img/bg_forest_bot_1200.jpg') center no-repeat fixed;

}
.slide2 {
background: url('../img/bg_city.jpg') center 0 no-repeat fixed;

}
.slide3 {
background: url('../img/bg_forest_bot_1200') center 0 no-repeat fixed;
background-size: cover;
}

/* ----------------------- Changement de nav selon position dans la page ----------------------- */

.navChange{background-color:#573F12;
opacity:0.85;
transition: 0.5s linear;}
.navChange2{background-color:#FFFFFF;
opacity:0.85;
transition: 0.5s linear;}




/* ------------- Media queries ------------- */


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    #title{text-align:center;
      line-height:50px;
      font-size:3.2rem;
    }
}